.form{
    width: 85%;
}
.input{
    width: 100%;
    border: 1px solid #cccccc;
    outline: none;
    height: 35px;
    border-radius: 10px;
    padding-left: 0.7rem;
}
.input:not(:last-child){
    margin-bottom: 1rem;
}
.success{
    color: green;
}
.error{
    color:red;
}