.list-item{
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    width: 80%;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0 0.5rem 0;
    display: flex;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;

}
.todo{
    margin-left: 1rem;
}
.line{
    display: block;
    text-decoration: line-through;
}

.fade{
    color: gray;
}